/* Contactos */
.cuerpo{
  background-image: linear-gradient(to right,  rgba(255, 255, 255, 0.3) 0%,  rgba(216, 216, 216, 0.3) 100%),url(../img/fondo-contacto.jpg);
  background-size: cover;
  height: auto;
  min-height: 110vh;
  display: flex;
  
  font-family:'Montserrat', sans-serif ;

}
form{
  margin:4% auto;
  background-color: rgb(177, 177, 177,0.5);
  width: 90%;
  max-width: 600px;
  height: fit-content;
  /* border-radius: 1em; */
  padding: 3.5em 1.5em;
  /* margin: auto; */
}
.form-container{
  width: 100%;
  display: grid;
  gap: 0.9em;
  grid-auto-columns: 100%;
}

.form-title{
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .3em;
}
.form-input{
  font-family:inherit;
  font-size: 1rem;
  padding: .8em 1em;
  outline: none;
  border: none;
  border: 1px solid #000000;
  background-color: rgb(255, 255, 255,0.9);
  border-radius: 0.2em;
}

.form-cta{
  font-family:inherit;
  background-color:rgb(77, 175, 77);
  color: rgb(0, 0, 0);
  border: none;
  font-weight: 900;
  font-size: 1.2rem;
  padding: .7em 0;
  border-radius: .2em;
  cursor: pointer;
  font-weight: 400;
}

.form-input-mensaje{
  resize: none;
  padding: 1.8em 1em;
  /* margin-bottom: .5em; */
}

.is-invalid{
  border: 1px solid #ff0000a6;
}

.advertencia{
  display: block;
  margin-left: 5%;
  color: #ff0000a6;
}